/* General Demo Style */

 
.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 80%;
}

.og-grid li {
	display: inline-block;
	margin: 15px 5px 0 5px; /* was 10 */
	vertical-align: top;
	height: 250px;
}

/*.og-grid li #last_work{
	display: block;
	margin: 0 x;
	vertical-align: top;
	height: 250px;
  width: 250px;
}*/


.og-grid li > a,
.og-grid li > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
  max-width:100%;  /**/
}


.og-grid li > a img:hover {
	  opacity:0.8;
}

.og-grid li.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #15151E;
	border-width: 15px;
	left: 50%;
	margin: -20px 0 0 -15px;
    margin-top:100px; /* fix */
}

.og-expander {
	position: absolute;
	background: #15151E;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
 /* adobe edge hack*/
  z-index: 999;/* adobe edge hack*/
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 30px;
	height: 100%;
}

.og-close {
  display:block;
	position: absolute;
	width: 60px;
	height: 60px;
	top: 30px;
	right: 30px;
	cursor: pointer;
  background-image: url(../images/btn_close.png);
  z-index:99999;
  -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}



.og-close:hover {
	  opacity:0.5;
}

.og-fullimg,
.og-details {
	width: 50%;
	float: left;
	height: 100%;
	overflow: hidden;
	position: relative;
  font-family: Helvetica_light, helvetica, Arial, sans-serif;
}

.og-details {
	padding: 0 40px 0 20px;
}

.og-details h3{
	text-align: left;
}

.og-fullimg {
	text-align: center;
}

.og-fullimg img {
	display: inline-block;
	max-height: 500px;
	max-width: 100%;
}

.og-details h3 {
	font-weight: 300;
	font-size: 52px;
	padding: 20px 0 10px;
	margin-bottom: 10px;
}

.og-details p {
	font-weight: 400;
	font-size: 16px;
	line-height: 22px;
	color: #999;
}

.og-details a {
 border: 2px solid #FFFFFF;
    border-radius: 30px;
    color: #FFFFFF;
    display: inline-block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 2px;
    margin: 30px 0 0;
    outline: medium none;
    padding: 18px;
    text-transform: uppercase;
    -webkit-transition: opacity 0.2s ease-in-out;
  -moz-transition: opacity 0.2s ease-in-out;
  -o-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

.og-details a::before {
	content: '\2192';
	display: inline-block;
	margin-right: 10px;
}

.og-details a:hover {
  opacity:0.5;
}

.og-loading {
	width: 20px;
	height: 20px;
	border-radius: 50%;
	background: #15151E;
	box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ccc;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -25px 0 0 -25px;
	-webkit-animation: loader 0.5s infinite ease-in-out both;
	-moz-animation: loader 0.5s infinite ease-in-out both;
	animation: loader 0.5s infinite ease-in-out both;
}

@-webkit-keyframes loader {
	0% { background: #15151E; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@-moz-keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@keyframes loader {
	0% { background: #ddd; }
	33% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ccc, -15px 30px 1px #ddd; }
	66% { background: #ccc; box-shadow: 0 0 1px #ccc, 15px 30px 1px #ddd, -15px 30px 1px #ccc; }
}

@media screen and (max-width: 830px) {

	.og-expander h3 { font-size: 32px; }
	.og-expander p { font-size: 13px; }
	.og-expander a { font-size: 12px; }

}

@media screen and (max-width: 650px) {

	.og-fullimg { display: none; }
	.og-details { float: none; width: 100%; }
	
}
